:root {
    padding: 20px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.proprofs.com%2Fquiz-school%2Fstory.php%3Ftitle%3Dthe-ultimate-movie-logo-quiz&psig=AOvVaw0J2dp6FKPadrlpAimwXOrZ&ust=1722905758771000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCKDX7trS3IcDFQAAAAAdAAAAABAE);
    background-repeat: no-repeat;
    background-size:contain;
  
}
.Home{
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    padding: 20px;
    width: 30vw;
    height: 80vh;
    border: 1px solid black;
    background:linear-gradient(217deg, rgba(46, 46, 157, 0.8), rgba(9, 51, 167, 0) 70.71%),
    linear-gradient(127deg, rgba(50, 119, 122, 0.8), rgba(19, 60, 174, 0) 70.71%),
    linear-gradient(336deg, rgba(6, 6, 116, 0.8), rgba(0,0,255,0) 70.71%);
}

button{
  background-color: transparent;
  border-radius: 20px;
  width: auto;
  height: auto;
}

button:hover {
    background-color: var(--button-hover-bg);
    box-shadow: 0 6px 8px rgba(231, 219, 219, 0.15);
}
.create-account-page{
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    padding: 20px;
    width: 40vw;
    height: 80vh;
    border: 1px solid black;
    background:linear-gradient(217deg, rgba(46, 46, 157, 0.8), rgba(9, 51, 167, 0) 70.71%),
    linear-gradient(127deg, rgba(50, 119, 122, 0.8), rgba(19, 60, 174, 0) 70.71%),
    linear-gradient(336deg, rgba(6, 6, 116, 0.8), rgba(0,0,255,0) 70.71%);
}
